<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>

<!-- 45 mangas par lignes pour commencer -->

    <div id="app">
        <div class="biblio">
            <div class="tomes">
                <div class="tome" v-for="manga in mangas" class="tomes" v-bind:style="{ backgroundColor: manga.color }">
                    <span>{{ manga.title }}</span>
                    <span>{{ manga.editor }}</span>
                    <span>{{ manga.numTome}}</span>
                </div>
            </div>
        </div>

        <button v-on:click="openPopinManga">Ajouter un manga</button>
        <button v-on:click="openPopinBiblio">Trier bibliothèque</button>
        <button v-on:click="createCSV">Exporter CSV</button>

        <div class="addMangaPopin" v-bind:class="{ open: popinAdd }">
            <h3>Ajouter un manga</h3>
            <input type="text" placeholder="nom manga" v-model="mangaTitle">
            <input type="text" placeholder="editeur" v-model="mangaEditor">
            <input type="color" placeholder="" v-model="mangaColor">
            <button v-on:click="addManga">Ajouter !</button>
        </div>

        <div class="sortMangaPopin" v-bind:class="{ open: popinSort }">
            <h3>Trier ma bibliothèque</h3>
            <button v-on:click="sortTitle">Trier par nom</button>
            <button v-on:click="sortEditor">Trier par éditeur</button>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>
